/*Start : Reset*/

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, label,
article, canvas, footer, header, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */

article, footer, header, section {
	display: block;
}
body {
	line-height: 1;
}
/*End: Reset


/*Start: Static styles*/
/*Global*/
html {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

#mainContent {
	height: 100vh;
}

#player1Section, #player2Section, #sectionButtons {
	height: 100%;
}

/*Section buttons*/
#sectionButtons {
	width: fit-content;
}

#newGameButton, #rollDiceButton, #holdButton {
	width: fit-content;
	background-color: transparent;
	border: transparent;
}

#dice {
	width: 8rem;
}

/*Player 1 and 2 section*/
#player1, #player2 {
	font-size: 2rem;
	padding: 1rem;
}

#player1ScoreGlobal, #player2ScoreGlobal {
	font-size: 4rem;
	padding: 1rem;
	color: rgba(200, 50, 50, 1);
}

#player1ScoreRoundDiv, #player2ScoreRoundDiv {
	width: fit-content;
	background-color: rgba(200, 50, 50, 0.8);
}

#player1ScoreRoundLabel, #player2ScoreRoundLabel {
	font-size: 0.7rem;
	padding: 1rem;
}

#player1ScoreRound, #player2ScoreRound {
	font-size: 1.8rem;
	padding: 1rem;
	color: rgba(255, 255, 255, 1);
}

#player1GameWonDiv, #player2GameWonDiv {
	width: fit-content;
}

#player1GameWon, #player2GameWon, #player1ScoreRound, #player2ScoreRound {
	margin-left: 0.2rem;
}
/*End: Static styles*/

/*Start: Dynamic styles*/
.activePlayer {
	background-color: rgb(235, 235, 235);
}

.inactivePlayer {
	opacity: 0.2;
	background-color: rgb(255, 255, 255);
}

.invisible {
	visibility: hidden;
}
/*End: Dynamic styles*/

/*Start: Animations*/
.winnerPlayer  {
	animation-duration: .8s;
	animation-name: twinkle;
	animation-iteration-count: infinite;
	transition: none;
}

@keyframes twinkle {
 0% {opacity:1;}
 50% {opacity:0;}
 100% {opacity:1;}
}
/*End: Animations*/