/*Reset des styles*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles*/
body {
	text-align: center;
	/*border: 1px red solid;*/
	min-height: 100%;
}

#pageTitle {
	font-size: xx-large;
	/*border: 1px red solid;*/
	padding: 1rem;
}

#player1, #player2, #player1ScoreGlobal, #player2ScoreGlobal, #player1ScoreRoundDiv, 
#player2ScoreRoundDiv {
	font-size: xx-large;
	/*border: 1px blue solid;*/
	padding: 1rem
}

#mainContent {
	display: flex;
	flex: 1;
	height: auto;
	gap: 1rem;
	/*border: 1px red solid;*/
}

#player1Section, #player2Section {
	display: flex;
	flex-direction: column;
	flex: 4;
	/*border: 1px red solid;*/
	align-items: center;
	justify-content: center;
}

#sectionButtons {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*border: 1px red solid;*/
}

#player1ScoreGlobal, #player2ScoreGlobal, #dice {
	width: auto;
	height: auto;
	/*border: 1px blue solid;*/
	text-align: center;
	vertical-align: middle;
}

#dice {
	width: 150px;
}

.activePlayer {
	background-color: rgba(124, 185, 255, 0.705);
}

.invisible {
	visibility: hidden;
}

.winnerPlayer  {
	animation-duration: .8s;
	animation-name: twinkle;
	animation-iteration-count: infinite;
	transition: none;
}

@keyframes twinkle {
 0%   { opacity:1; }
 50%   {opacity:0; }
 100% { opacity:1; }
}